{% extends "base.html" %}

{% block content %}
<br><br><br>
{% if form.errors %}
  <p>Ваш логин и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к данной странице. Для продолжения, пожалуйста, залогиньтесь на
      аккаунт имеющий доступ</p>
  {% else %}
    <p>Пожалуйста, залогиньтесь, чтобы увидеть страницу.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>Имя пользователя:</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>Пароль:</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Вход" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}