{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Euphoria{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Euphoria</a>

    <div style="text-align:right">
        {% if user.is_authenticated %}
            <p>User: {{ user.get_username }} | <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
        {% endif %}
    </div>

</div>

<div id="subheader">
    {% if user.is_authenticated %}
    <div class="cart">
      {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            Ваша корзина:
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
            Ваша корзина пуста.
          {% endif %}
        {% endwith %}
    </div>
    {% endif %}
</div>


<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>